n8n/curator/curator-bu-readonly.json
{
  "name": "Brain Central — Curador BU (read-only test)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 304]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://uaefxpewxmvmhxpgehuv.supabase.co/rest/v1/proposals",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "id,upwork_id,job_title,description,ai_summary,keyword,status" },
            { "name": "business_unit_id", "value": "is.null" },
            { "name": "limit", "value": "5" }
          ]
        },
        "genericAuthType": "httpHeaderAuth",
        "authentication": "genericCredentialType",
        "options": {}
      },
      "id": "http-select-proposals",
      "name": "Supabase REST: SELECT proposals (5 sin BU)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 304],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Supabase Brain Central — sb_secret"
        }
      },
      "notes": "GET proposals donde business_unit_id IS NULL, limit 5.\nLa credencial Header Auth manda el header `apikey` automáticamente.\nNO agregar headers manuales (el `apikey` ya viene de la credencial; Supabase service_role no necesita Authorization Bearer separado)."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Loop (1 a la vez)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 304]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Job title: {{ $json.job_title }}\nKeyword Notion (origen del scrape): {{ $json.keyword }}\nStatus (en el pipeline SWL): {{ $json.status }}\nAI Summary: {{ $json.ai_summary }}\n\nDescription:\n{{ $json.description }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Sos el curador de Brain Central, el sistema interno de SWL Consulting que clasifica oportunidades de Upwork por unidad de negocio.\n\nDado un job de Upwork (titulo + description + keyword de origen + AI summary), tu tarea es decidir 4 cosas:\n\n1. business_unit_name: a cuál de las 8 unidades de negocio SWL pertenece este job. DEBE ser EXACTAMENTE uno de estos 8 valores:\n- AI & Automation\n- Business Operations & Back-Office\n- Digital Experience & Product Development\n- Finance & Accounting\n- Marketing & Brand\n- Project Management & BI\n- Sales & Customer Success\n- System Integrations\n\n2. new_scope: una frase corta (5-15 palabras) describiendo el trabajo CONCRETO que SWL ofrecería para este job. Estilo: 'FP&A and budgeting as fractional CFO for SMEs' / 'Shopify product page redesign and conversion optimization'. Si no podés inferir un scope claro, devolvé string vacio.\n\n3. new_keywords: array de 3-7 términos técnicos, herramientas o plataformas mencionadas en el job. Tools concretas (QuickBooks, Shopify, n8n, Power BI, etc.) cuentan como keywords. Si el job es muy genérico, podés devolver menos pero no menos de 1.\n\n4. confidence: nivel de confianza de tu clasificación, número entre 0 y 1.\n- 0.9-1.0: el job es claramente de esa BU, scope obvio.\n- 0.7-0.9: encaja bien pero hay alguna ambigüedad.\n- 0.5-0.7: dudoso, podría ser otra BU.\n- <0.5: no entendés el job o no encaja en ninguna BU.\n\nSi confidence < 0.7 igual completá todos los campos con tu mejor intento.\n\nREGLAS DURAS:\n- business_unit_name debe ser EXACTAMENTE uno de los 8 nombres listados.\n- NO inventes scopes que SWL no haría.\n- NO devuelvas keywords genéricos como 'team', 'project', 'client'.\n- NO uses keywords del input literalmente si no son técnicas."
            }
          ]
        }
      },
      "id": "llm-chain",
      "name": "Basic LLM Chain (clasificación)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [900, 304]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "lm-openai",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [820, 520],
      "credentials": {
        "openAiApi": {
          "name": "Open AI SWL"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"business_unit_name\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"AI & Automation\",\n        \"Business Operations & Back-Office\",\n        \"Digital Experience & Product Development\",\n        \"Finance & Accounting\",\n        \"Marketing & Brand\",\n        \"Project Management & BI\",\n        \"Sales & Customer Success\",\n        \"System Integrations\"\n      ]\n    },\n    \"new_scope\": { \"type\": \"string\" },\n    \"new_keywords\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"minItems\": 1,\n      \"maxItems\": 7\n    },\n    \"confidence\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1\n    }\n  },\n  \"required\": [\"business_unit_name\", \"new_scope\", \"new_keywords\", \"confidence\"]\n}"
      },
      "id": "output-parser",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1020, 520]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const src = $('Loop (1 a la vez)').item.json;\nconst out = $json.output || $json;\nreturn {\n  json: {\n    proposal_id: src.id,\n    upwork_id: src.upwork_id,\n    job_title: src.job_title,\n    status: src.status,\n    keyword: src.keyword,\n    bu_name: out.business_unit_name,\n    new_scope: out.new_scope,\n    new_keywords: out.new_keywords,\n    confidence: out.confidence,\n    would_skip: out.confidence < 0.7,\n  },\n};"
      },
      "id": "log-result",
      "name": "Log resultado (read-only)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 304],
      "notes": "Read-only: no escribe nada en Supabase. Solo arma un objeto resumen por proposal para que veas qué clasificó el LLM."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Supabase REST: SELECT proposals (5 sin BU)", "type": "main", "index": 0 }]]
    },
    "Supabase REST: SELECT proposals (5 sin BU)": {
      "main": [[{ "node": "Loop (1 a la vez)", "type": "main", "index": 0 }]]
    },
    "Loop (1 a la vez)": {
      "main": [
        [{ "node": "Basic LLM Chain (clasificación)", "type": "main", "index": 0 }]
      ]
    },
    "Basic LLM Chain (clasificación)": {
      "main": [[{ "node": "Log resultado (read-only)", "type": "main", "index": 0 }]]
    },
    "Log resultado (read-only)": {
      "main": [[{ "node": "Loop (1 a la vez)", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Basic LLM Chain (clasificación)", "type": "ai_languageModel", "index": 0 }]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [[{ "node": "Basic LLM Chain (clasificación)", "type": "ai_outputParser", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "swl-curator-bu-readonly-http"
  }
}
