n8n/prospect-automation/dedup-block.json
{
  "name": "Prospect Automation - Dedup Block",
  "nodes": [
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1k-VoL8pshVVR65a-CKBTaEmnyJs7q7u8hN4k-hSleFw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "options": {}
      },
      "id": "read-historical-ids",
      "name": "Read Historical IDs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [120, 480],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aCSGdYIwBtZseOrB",
          "name": "Google Sheets Isaac"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items\nconst sentIds = new Set(\n  $('Read Historical IDs').all()\n    .map(it => String(it.json['Upwork ID'] || it.json['upwork_id'] || '').trim())\n    .filter(Boolean)\n);\n\nconst batchSeen = new Set();\nconst results = [];\n\nfor (const item of $input.all()) {\n  const id = String(item.json.upworkId || '').trim();\n  const link = String(item.json.link || '').trim();\n  const dedupKey = id || link || item.json.pageId;\n\n  let isDuplicate = false;\n  let dupReason = '';\n\n  if (batchSeen.has(dedupKey)) {\n    isDuplicate = true;\n    dupReason = 'duplicate-in-batch';\n  } else if (id && sentIds.has(id)) {\n    isDuplicate = true;\n    dupReason = 'already-sent';\n  } else {\n    batchSeen.add(dedupKey);\n  }\n\n  results.push({ json: { ...item.json, isDuplicate, dupReason } });\n}\n\nreturn results;"
      },
      "id": "flag-duplicates",
      "name": "Flag Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 304]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "dup-check",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-duplicate-if",
      "name": "¿Es Duplicado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 304]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.notion.com/v1/pages/' + $json.pageId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ properties: { Status: { select: { name: 'Discarded ð' } } } }) }}",
        "options": {}
      },
      "id": "descartado-duplicado",
      "name": "Descartado por Duplicado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 80],
      "credentials": {
        "notionApi": {
          "id": "3UbzydbU99rNTkz7",
          "name": "Notion Seres Api"
        }
      }
    }
  ],
  "connections": {
    "Flag Duplicates": {
      "main": [
        [
          {
            "node": "¿Es Duplicado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Duplicado?": {
      "main": [
        [
          {
            "node": "Descartado por Duplicado",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "swl-prospect-dedup-block"
  }
}
