n8n/classifier/classifier.json
{
  "name": "Brain Classifier",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 7 * * *" } ] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400],
      "id": "schedule-trigger",
      "name": "Daily 7:00 AM"
    },
    {
      "parameters": {
        "url": "https://uaefxpewxmvmhxpgehuv.supabase.co/rest/v1/business_units?is_active=eq.true&select=id,name,description,scopes,keywords,good_fit_signals,red_flags,decision_logic",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer <REPLACE_WITH_SUPABASE_SECRET_KEY>" },
          { "name": "apikey", "value": "<REPLACE_WITH_SUPABASE_SECRET_KEY>" }
        ] },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400],
      "id": "fetch-bu-cards",
      "name": "Fetch BU cards"
    },
    {
      "parameters": {
        "url": "https://uaefxpewxmvmhxpgehuv.supabase.co/rest/v1/proposals?status=eq.Sent&business_unit_id=not.is.null&order=sent_date.desc&limit=160&select=business_unit_id,job_title",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer <REPLACE_WITH_SUPABASE_SECRET_KEY>" },
          { "name": "apikey", "value": "<REPLACE_WITH_SUPABASE_SECRET_KEY>" }
        ] },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "id": "fetch-precedent",
      "name": "Fetch Sent precedent"
    },
    {
      "parameters": {
        "jsCode": "function asArray(nodeName) {\n  const items = $(nodeName).all();\n  if (!items || items.length === 0) return [];\n  if (items.length > 1) return items.map(it => it.json);\n  const j = items[0].json;\n  if (Array.isArray(j)) return j;\n  return [j];\n}\n\nconst bus = asArray('Fetch BU cards');\nconst precedent = asArray('Fetch Sent precedent');\n\nconst precByBU = new Map();\nfor (const p of (precedent || [])) {\n  if (!p.business_unit_id) continue;\n  if (!precByBU.has(p.business_unit_id)) precByBU.set(p.business_unit_id, []);\n  if (precByBU.get(p.business_unit_id).length < 5) precByBU.get(p.business_unit_id).push(p.job_title);\n}\n\nconst buSection = bus.map(bu => {\n  const prec = precByBU.get(bu.id) || [];\n  return [\n    `## ${bu.name}`,\n    bu.description,\n    `Scopes: ${(bu.scopes || []).join(' · ')}`,\n    `Keywords: ${(bu.keywords || []).slice(0, 30).join(', ')}`,\n    `Good fit: ${bu.good_fit_signals || ''}`,\n    `Red flags: ${bu.red_flags || ''}`,\n    `Decision: ${bu.decision_logic || ''}`,\n    prec.length > 0 ? `Recent Sent precedent: ${prec.join(' · ')}` : 'Recent Sent precedent: (none yet)',\n  ].join('\\n');\n}).join('\\n\\n---\\n\\n');\n\nconst HARD_EXCLUSIONS = [\n  'pure graphic design only',\n  'physical product manufacturing',\n  'legal services',\n  'medical services',\n  'academic writing, grant writing for non-profits',\n  'civil/mechanical/electrical/aerospace/hardware engineering',\n  'embedded/firmware/DSP/radar/RF/IoT hardware',\n  'COACHING/TRAINING ROLES (STRICT): Coach, Trainer, Mentor, Enablement, Workshop, Bootcamp - strict',\n  'MICROSOFT ECOSYSTEM (STRICT): M365, Dynamics, SharePoint, Power Platform admin. EXCEPTION: Power BI dashboarding OK',\n  'SAP INTERNAL. EXCEPTION: external API pulls OK',\n  'PR/MEDIA RELATIONS (STRICT)',\n  'CPA TACTICAL (STRICT): US tax, IRS, Delaware C-Corp, SBA, bookkeeping',\n  'TOOL-SPECIFIC (STRICT): Framer, Figma (ANY mention), Klaviyo operator, Etsy listing, Smartsheet, Shopify theme, Wix',\n  'ONE-TIME TACTICAL',\n  'BROKERAGE/NETWORKING without technical scope',\n  'RECRUITING, CRYPTO/WEB3, 3D/VFX',\n];\n\nconst buNameToId = {};\nfor (const bu of bus) buNameToId[bu.name] = bu.id;\n\nconst systemPrompt = [\n  'You are a senior qualification analyst for SWL Consulting.',\n  '',\n  `Below are SWL's 8 business units.`,\n  '',\n  buSection,\n  '',\n  '---',\n  '',\n  'HARD EXCLUSIONS (match=false, score<=10):',\n  ...HARD_EXCLUSIONS.map(e => `- ${e}`),\n  '',\n  'BU-SPECIFIC: Power BI→PM&BI; n8n/Zapier→SI/AI&A; Meta/Google Ads→M&B; Fractional CFO/COO→F&A; Brand+strategy→M&B',\n  '',\n  'NEVER mention ticket/budget/hourly rate in reason. If scope fits and no hard exclusion, match=true.',\n  '',\n  'Return ONLY valid JSON: { \"match\": bool, \"score\": 0-100, \"area\": <BU name>|null, \"reason\": \"...\" }',\n].join('\\n');\n\nreturn { json: { systemPrompt, buNameToId } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400],
      "id": "build-system",
      "name": "Build Classifier System Prompt"
    },
    {
      "parameters": {
        "url": "https://uaefxpewxmvmhxpgehuv.supabase.co/rest/v1/jobs?status=eq.prequalified&select=id,title,description,industry,hourly_average",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer <REPLACE_WITH_SUPABASE_SECRET_KEY>" },
          { "name": "apikey", "value": "<REPLACE_WITH_SUPABASE_SECRET_KEY>" }
        ] },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400],
      "id": "fetch-prequalified",
      "name": "Fetch prequalified jobs"
    },
    {
      "parameters": { "batchSize": 1, "options": {} },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [240, 600],
      "id": "loop",
      "name": "Loop Prequalified"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const job = $json;\nconst systemPrompt = $('Build Classifier System Prompt').first().json.systemPrompt;\nconst userPrompt = [\n  `Job title: ${job.title}`,\n  `Industry: ${job.industry || 'n/a'}`,\n  '',\n  'Description:',\n  job.description || '(no description)',\n].join('\\n');\nreturn { json: { ...job, systemPrompt, userPrompt } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 600],
      "id": "build-user",
      "name": "Build Classifier User Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "x-api-key", "value": "<REPLACE_WITH_ANTHROPIC_API_KEY>" },
          { "name": "anthropic-version", "value": "2023-06-01" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"claude-haiku-4-5\",\n  max_tokens: 512,\n  system: $json.systemPrompt,\n  messages: [ { role: \"user\", content: $json.userPrompt } ]\n}) }}",
        "options": { "timeout": 60000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 600],
      "id": "anthropic",
      "name": "Anthropic Classifier",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const job = $('Build Classifier User Prompt').item.json;\nconst ai = $json;\nconst buNameToId = $('Build Classifier System Prompt').first().json.buNameToId;\n\nlet parsed;\ntry {\n  const text = (ai.content && ai.content[0] && ai.content[0].text) || '{}';\n  const clean = text.replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/, '').trim();\n  parsed = JSON.parse(clean);\n} catch (e) {\n  parsed = { match: false, score: 0, area: null, reason: 'parse_error' };\n}\n\nconst area = (typeof parsed.area === 'string' && parsed.area.length > 0) ? parsed.area : null;\nlet score = typeof parsed.score === 'number' ? Math.max(0, Math.min(100, Math.round(parsed.score))) : 0;\nlet match = !!parsed.match;\nlet reason = parsed.reason || '';\nconst businessUnitId = area ? (buNameToId[area] || null) : null;\n\nconst FORBIDDEN = [/\\bticket\\b/i,/\\bbudget\\b/i,/\\bunderpriced\\b/i,/\\bfar\\s+below\\b/i,/\\btoo\\s+low\\b/i,/\\bengagement\\s+minimum/i,/\\bhourly\\s+rate/i,/\\$[0-9]+\\s*(USD|hour|hr)/i];\nif (!match && area && FORBIDDEN.some(re => re.test(reason))) {\n  match = true;\n  reason = '[forbidden-phrase rescue] ' + reason.slice(0,120);\n  if (score < 50) score = 50;\n}\n\nconst newStatus = match ? 'qualified' : 'discarded';\nreturn { json: { job_id: job.id, newStatus, match, score, area, reason, businessUnitId } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 600],
      "id": "parse",
      "name": "Parse Classifier"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uaefxpewxmvmhxpgehuv.supabase.co/rest/v1/rpc/brain_transition_job",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "Bearer <REPLACE_WITH_SUPABASE_SECRET_KEY>" },
          { "name": "apikey", "value": "<REPLACE_WITH_SUPABASE_SECRET_KEY>" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  p_job_id: $json.job_id,\n  p_to_status: $json.newStatus,\n  p_actor: 'brain_classifier',\n  p_actor_detail: 'claude-haiku-4-5',\n  p_reason: $json.reason,\n  p_classifier_match: $json.match,\n  p_classifier_score: $json.score,\n  p_classifier_area: $json.area,\n  p_business_unit_id: $json.businessUnitId\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 600],
      "id": "transition",
      "name": "Transition (classifier)",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Daily 7:00 AM": { "main": [[{ "node": "Fetch BU cards", "type": "main", "index": 0 }]] },
    "Fetch BU cards": { "main": [[{ "node": "Fetch Sent precedent", "type": "main", "index": 0 }]] },
    "Fetch Sent precedent": { "main": [[{ "node": "Build Classifier System Prompt", "type": "main", "index": 0 }]] },
    "Build Classifier System Prompt": { "main": [[{ "node": "Fetch prequalified jobs", "type": "main", "index": 0 }]] },
    "Fetch prequalified jobs": { "main": [[{ "node": "Loop Prequalified", "type": "main", "index": 0 }]] },
    "Loop Prequalified": { "main": [[{ "node": "Build Classifier User Prompt", "type": "main", "index": 0 }]] },
    "Build Classifier User Prompt": { "main": [[{ "node": "Anthropic Classifier", "type": "main", "index": 0 }]] },
    "Anthropic Classifier": { "main": [[{ "node": "Parse Classifier", "type": "main", "index": 0 }]] },
    "Parse Classifier": { "main": [[{ "node": "Transition (classifier)", "type": "main", "index": 0 }]] },
    "Transition (classifier)": { "main": [[{ "node": "Loop Prequalified", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "timezone": "America/Argentina/Buenos_Aires" },
  "pinData": {},
  "meta": {}
}
